*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration:none;
}

body {
	background: #eee;
	font-family: 'Ubuntu', sans-serif;
}

.titulo {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 1.8rem;
}

main {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	margin-bottom: 50px;
}

.contenedor-box{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor-p span{
	font-size: 1.2rem;
	color: #2082ff;
}

.box {
	width: 250px;
	height: 250px;
	margin: 10px;
	padding: 20px;
	border: 2px solid #2082ff;  
	border-radius: 15px;
	text-align: center;
	margin-top: 100px;
	position: relative;
}

.box img {
	width: 60%;
	transition: all 400ms;
}

.box h2 {
	font-size: 1.5rem;
	margin-top: 10px;
	transition: all 500ms;
}
/*desaparecer*/
.box .contenedor-p{
	width: 100%;
	height: 150px;
	position: absolute; 
	top: 160px;
	left: 0;
	bottom: 0;
	overflow: hidden;
	padding: 0px 10px;
	border-radius: 0px 0px 14px 14px;
}

.box p {
	font-size: 14px;
	color: #292828;
	opacity: 0;
	transform: translateY(65px);
	transition: all 600ms;
}

.box:hover {
	background: #fbfbfe;
}

.box:hover img{
	transform: translateY(-90px);
}

.box:hover h2{
	transform: translateY(-90px);
}
/*APARECER TEXT*/
.box:hover .contenedor-p p{
	transform: translateY(0px);
	opacity: 1;
}

footer a{
	color: #fff;
}

footer {
	background: #323330;
	height: auto;
	width: 100vw;
	padding-top: 12px;
	color: #000;
	box-shadow: 0 4px 25px 22px rgba(0,0,0,.55);
}


.footer-content{
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}


.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}


.footer-content p{
	max-width: 600px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}

.socials {
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}

.fa-html5{
	color: #F16529;
}


.fa-css3-alt{
	color: #2965f1;
}

.fa-js-square{
	color: #F0DB4F;
}

.fa-node {
	color: green;
}

.socials li{
	list-style: none;
	margin: 0 10px;
}

.git{
	font-size: 1.9rem;
}

.git i {
	color: #000;
	font-size: 2rem;
}

@media(min-width: 1280px){
	
}

@media(min-width: 1366px){
	footer {
		width: 1365px;
	}
	.titulo {
		margin-top: 1px;
		margin-bottom: 1px;
		font-size: 1rem;
	}
	.contenedor-box{
		margin-top: -35px;
	}

	.footer-content h3{
		font-size: .8rem;
		font-weight: 200;
		line-height: 1rem;
	}

	.footer-content p{
		max-width: 300px;
		margin: 5px auto;
		line-height: 12px;
		font-size: 9px;
	}

	.socials {
		font-size: .7rem;
		margin: 1rem 0 2.4rem 0;
	}

	.git{
		font-size: .9rem;
	}

	.git i {
		font-size: 1rem;
	}

}


@media(min-width: 1600px){
		footer {
			width: 1600px;
		}
		.titulo {
			margin-top: 15px;
			margin-bottom: 15px;
			font-size: 1rem;
		}
		.contenedor-box{
			margin-top: 20px;
		}

		.footer-content h3{
			font-size: 1.2rem;
			font-weight: 300;
			line-height: 2.1rem;
		}

		.footer-content p{
			max-width: 650px;
			margin: 15px auto;
			line-height: 22px;
			font-size: 13px;
		}

		.socials {
			font-size: 14px;
			margin: 2rem 0 2.5rem 0;
		}

		.git{
			font-size: 1.5rem;
		}

		.git i {
			font-size: 2rem;
		}
	
}

@media(min-width: 1920px){
	footer {
		width: 100vw;
	}
	.titulo {
		margin-top: 50px;
		margin-bottom: 10px;
		font-size: 1.8rem;
	}
	.contenedor-box{
		margin-top: 0;
	}
	.footer-content h3{
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 3rem;
	}

	.footer-content p{
		max-width: 600px;
		margin: 10px auto;
		line-height: 28px;
		font-size: 14px;
	}

	.socials {
		font-size: 1.4rem;
		margin: 2rem 0 3.4rem 0;
	}


	.git{
		font-size: 1.9rem;
	}

	.git i {
		color: #000;
		font-size: 2rem;
	}

}

@media(min-width: 2560px){

}


