:root{
	--primario: #F55C5C;
	--secundario: #ffef2f;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration:none;
}

body {
	background: rgba(238,238,238,100);
	font-family: 'Ubuntu', sans-serif;
}

header {
	padding-top: 10px;
	padding-bottom: 100px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	box-shadow: 0 4px 25px -22px blue;
	z-index: 2;
	background: #FFF;
}

.header-content {
	max-width: 1600px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.header-content a{
	color: #000;
}

.logo {	
	height: 80px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.logo h1{
	font-weight: 300;
	font-size: 48px;
}

.logo img{
	margin: 10px;
	width: 7%;
}

.menu {
	height: 80px;
}

.menu nav{
	height: 100%;
}

.menu nav ul {
	height: 100%;
	display: flex;
	list-style: none;
}

.menu nav ul li {
	height: 100%;
	margin: 0px 25px;
	display: flex;
	justify-self: center;
	align-items: center;
	position: relative;
}

.menu-selected:before {
	content: '';
	width: 100%;
	height: 4px;
	background: #46A2FD;
	position: absolute;
	top: 0;
	left: 0;
}

.menu nav ul li a {
	color: #777777;
	transition: color 300ms;
}

.menu nav ul li a:hover {
	color: #46A2FD;
}

.menu .text-menu-selected {
	color: #46A2FD;
}

main {
	margin-top: 90px;
}


.wrap {
	margin: 50px;
  	height: 100%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133; /*COLOR LETRAS BOTON INICIO*/
  background: #4FD1C5;
	background: linear-gradient(90deg, rgba(0,155,255,1) 0%, rgba(30,132,255,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(59,124,247,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #0093ff;
  box-shadow: 0 0 60px rgba(0,147,255,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

.slideshow-main{
	position: relative;
	overflow: hidden;
}

.slideshow {
	position: relative;
	height: 689px;
}

.slideshow img {
	width: 100%;
	height: auto;
	position: absolute;
	object-fit: cover;
}


.text {
	z-index: 998;
	padding: 20px;
	position: absolute;
	background-color: rgba(255,255,255,.60);
	top: 230px;
	left: 150px;
	right: 600px;
	color: #323232;
	border-radius: 20px;
}

.text h2{
	font-size: 2rem;
	font-weight: 600;
	
}

.text p{
	text-align: justify;
	font-size: 1.3rem;
	font-weight: 200;
}

.fa-server {
	color: #000;
}

.fa-cogs{
	color: #000;
}

@media(min-width: 1280px){
	.slideshow {
		height: 701px;
	}
	.header-content {
		max-width: 1000px;
	}
}

@media(min-width: 1366px){
	.slideshow {
		height: 344px;
	}
	.text {
		top: 100px;
		left: 90px;
		right: 650px;
	}
	.header-content {
		max-width: 1200px;
	}
}


@media(min-width: 1600px){
	.slideshow {
		height: 509px;
	}
	.text {
		top: 140px;
		left: 100px;
		right: 450px;
	}
	.header-content {
		max-width: 1400px;
	}
}

@media(min-width: 1920px){
	.slideshow {
		height: 689px;
	}
	.header-content {
		max-width: 1500px;
	}
}

@media(min-width: 2560px){
	.slideshow {
		height: 1350px;
	}
	.header-content {
		max-width: 1800px;
	}
}

